.world-use-graph {

    &__content {
        display: flex;
        padding: 54px 34px 30px 17px;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__img {
        flex: 0 1 195px;
        max-width: 195px;
        object-fit: contain;
        margin-bottom: 35px;
    }

    &__statistic {
        flex: 0 1 297px;

        @media screen and (max-width: 992px) {
            flex: 1 0 100%;
            width: 100%;
        }
    }

    &__statistic-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 33px;
        position: relative;
        padding-left: 20px;

        &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 8px;
            left: 0;
        }

        &_color_purple {
            &::after {
                background-color: #6f52ed;
            }
        }

        &_color_pink {
            &::after {
                background-color: #ff4c61;
            }
        }

        &_color_orange {
            &::after {
                background-color: #ffb800;
            }
        }

        &_color_green {
            &::after {
                background-color: #33d69f;
            }
        }
    }

    &__statistic-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: $mute-text-color;
    }

    &__statistic-num {
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: $mute-text-color;

        span {
            color: $accent-color;
        }
    }
}
