$text-color: #252B42;
$second-text-color: #737373;
$light-text-color: #fff;
$mute-text-color: #BDBDBD;
$accent-color: #252b42;
$primary-color: #2091F9;
$disabled-element-color: #8EC2F2;
$alert-color: #E74040;
