.service-card {
    text-align: center;
    min-height: 280px;
    padding: 43px 65px 48px;
    background-color: #fff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 5px;

    &__icon {
        width: 51px;
        height: 42px;
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $accent-color;
    }

    &__text {
        margin-top: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $second-text-color;
    }
}
