.page {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 400px;
    position: relative;

    &__container {
        margin: 0 auto;
        max-width: 1050px;
        width: 100%;

        @media screen and (max-width: 1300px) {
            max-width: 970px;
        }

        @media screen and (max-width: 992px) {
            max-width: 748px;
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
            padding: 0 34px 0 31px;
        }
        
    }

    &_lock {
        overflow: hidden;
    }
}
