.services {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 calc(33.333% - 17px);
        margin-bottom: 37px;

        @media screen and (max-width: 992px) {
            flex: 0 1 calc(50% - 17px);
        }

        @media screen and (max-width: 768px) {
            flex: 0 1 100%;
        }
    }
}
